<a href="https://colab.research.google.com/github/hanvita1/machinelearning/blob/master/day_2_session_2_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.

In [2]:
import operator
d={}
for i in range(int(input("Enter The Number Of Students: "))):
  n=input(f"Enter The Name Of Student-{i+1}: ")
  d[n]=int(input(f"Enter The Marks Of Student-{i+1}: "))
print(dict(sorted(d.items(), key=operator.itemgetter(1), reverse=True)))

Enter The Number Of Students: 3
Enter The Name Of Student-1: aaa
Enter The Marks Of Student-1: 65
Enter The Name Of Student-2: bbb
Enter The Marks Of Student-2: 85
Enter The Name Of Student-3: ccc
Enter The Marks Of Student-3: 55
{'bbb': 85, 'aaa': 65, 'ccc': 55}

Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary

In [3]:
import operator
d={}
for i in range(int(input("Enter The Number Of Students: "))):
  n=input(f"Enter The Name Of Employee-{i+1}: ")
  d[n]=int(input(f"Enter The Salary Of Employee-{i+1}: "))
print(dict(sorted(d.items(), key=operator.itemgetter(0))))

Enter The Number Of Students: 3
Enter The Name Of Employee-1: hanvita
Enter The Salary Of Employee-1: 80000
Enter The Name Of Employee-2: madhushree
Enter The Salary Of Employee-2: 25000
Enter The Name Of Employee-3: qqq
Enter The Salary Of Employee-3: 14000
{'hanvita': 80000, 'madhushree': 25000, 'qqq': 14000}

Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in salary ascending order and sum, max, min and average of the salaries

In [4]:
import operator
d={}
for i in range(int(input("Enter The Number Of Students: "))):
  n=input(f"Enter The Name Of Employee-{i+1}: ")
  d[n]=int(input(f"Enter The Salary Of Employee-{i+1}: "))
print(dict(sorted(d.items(), key=operator.itemgetter(1))))
print(f"Sum: {sum(d.values())}\nMax: {max(d.values())}\nMin: {min(d.values())}\nAverage: {sum(d.values())/len(d)}")

Enter The Number Of Students: 2
Enter The Name Of Employee-1: sudha
Enter The Salary Of Employee-1: 15000
Enter The Name Of Employee-2: ooo
Enter The Salary Of Employee-2: 14000
{'ooo': 14000, 'sudha': 15000}
Sum: 29000
Max: 15000
Min: 14000
Average: 14500.0

Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print only the employees whose salary is greater than 2000 but less than 4000

In [6]:
d={}
for i in range(int(input("Enter The Number Of Students: "))):
  n=input(f"Enter The Name Of Employee-{i+1}: ")
  d[n]=int(input(f"Enter The Salary Of Employee-{i+1}: "))
print(dict([(k,v) for k,v in d.items() if 2000<v<4000]))

Enter The Number Of Students: 2
Enter The Name Of Employee-1: raj
Enter The Salary Of Employee-1: 21000
Enter The Name Of Employee-2: madhu
Enter The Salary Of Employee-2: 25000
{}

Python program to convert a 3 digit number into words

In [7]:
d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\
   10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\
   17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\
   60:'sixty',70:'seventy',80:'eighty',90:'ninty',100:'One hundred',200:'Two hundred',300:'three hundred',400:'four hundred',500:'five hundred',600:'six hundred',700:'seven hundred',800:'eight hundred',900:'nine hundred'}
num=int(input("Enter the integer between 100 to 999:"))
print(f"{d[num//100*100]} {d[((num//10)%10)*10]} {d[num%10]}")

Enter the integer between 100 to 999:88
 eighty eight

Python Program to count the total number of charaters (except blank space) in a text file.

In [17]:
f=open("/hanvita.txt","r")
t=f.read()
c=0
for i in t:
  if(i!=" " and i!='\n'):
    c+=1
print(c)

3

Python Program to print all the numbers present in a text file with its total number of occurrence.

In [18]:
file_txt = open("/hanvita.txt","r")		
text = file_txt.read()	
w = []	
d = dict() 
for line in text: 
    line = line.strip() 	
    if(line.isdigit()):
           w.append(line)
for j in w:
      if j in d:
        d[j] = d[j] + 1
      else: 
            d[j] = 1 
for key in list(d.keys()): 
    print(key, ":", d[key])

1 : 1
2 : 1
3 : 1

Python Program to append the contents of one file to another file by getting the both file names through keyboard .

In [25]:
name1 = input("Enter file to be read from: ")
name2 = input("Enter file to be appended to: ")
fin = open(name1, "r")
data2 = fin.read()
fin.close()
fout = open(name2, "a")
fout.write(data2)
fout.close()

Enter file to be read from: /hanvita.txt
Enter file to be appended to: /madhu.txt

Python Program to count the number of blank spaces in a text file.

In [26]:
file_txt = open("/madhu.txt","r")		
text = file_txt.read()			
charc = 0	
for i in text:				
	if(i == " "):
		 charc += 1
 
print ("total num of spaces: ",charc);

total num of spaces:  1

Python Program to read a file and capitalize the first letter of every word in the file and copy the every word capitalized content into another file and read it .

In [28]:
with open('/hanvita.txt', 'r') as f:
  with open("madhu.txt", "w") as f1:
    for line in f:
        l=line.title()
        f1.write(l)
file2=open("madhu.txt",'r')
line=file2.readline()
while(line!=""):
    print(line)
    line=file2.readline()
file2.close()

1

2

3

#dict.clear()
#Removes all elements of dictionary dict

In [29]:
dict = {'Name': 'Zara', 'Age': 7};
print("Start Len : %d" %  len(dict))
dict.clear()
print("End Len : %d" %  len(dict))

Start Len : 2
End Len : 0

#dict.items()
#Returns a list of dict's (key, value) tuple pairs

In [30]:
dict = {'Name': 'Zara', 'Age': 7}
print ("Value : %s" %  dict.items())

Value : dict_items([('Name', 'Zara'), ('Age', 7)])

# dict.copy()
#Returns a copy of dictionary dict

In [31]:
dict1 = {'Name': 'Zara', 'Age': 7};
dict2 = dict1.copy()
print ("New Dictinary : %s" %  str(dict2))

New Dictinary : {'Name': 'Zara', 'Age': 7}

Python Program to Generate a Dictionary that Contains Numbers (between 1 and n) in the Form (x,x*x). 
n=int(input("Enter a number:"))
d={x:x*x for x in range(1,n+1)}
print(d)
Python Program to Sum All the Items in a Dictionary

In [32]:
d={'A':100,'B':540,'C':239}
print("Total sum of values in the dictionary:")
print(sum(d.values()))

Total sum of values in the dictionary:
879

Python Program to Remove the Given Key from a Dictionary

In [33]:
d = {'a':1,'b':2,'c':3,'d':4}
print("Initial dictionary")
print(d)
key=input("Enter the key to delete(a-d):")
if key in d: 
    del d[key]
else:
    print("Key not found!")
    exit(0)
print("Updated dictionary")
print(d)

Initial dictionary
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
Enter the key to delete(a-d):1
Key not found!
Updated dictionary
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Python Program to add name and mark as key->value pair in  a Dictionary and print it.

In [1]:
n=int(input("Enter no of records"))
d={}
for i in range(1,n+1):
    name= input("Enter name %d"%(i))
    mark=int(input("Enter mark %d"%(i)))
    d[name]=mark
    print (d)

Enter no of records2
Enter name 1asha
Enter mark 150
{'asha': 50}
Enter name 2arun
Enter mark 288
{'asha': 50, 'arun': 88}

 Keys and Values example

In [2]:
    d={}
    print (" The dictionary elements are")
    for i in range(1,21):
        d[i]=i**2
    print (d)
    # To print key and values
    print (" Key==> Value are")
    for (k,v) in d.items():	
        print(k,"==>",v)
  # To print key only
    print ("\nTo print key only")
    for k in d.keys():	
        print(k, end=" ")
  #To print value only
    print ("\nTo print values only")
    for v in d.values():	
        print(v, end=" ")

 The dictionary elements are
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}
 Key==> Value are
1 ==> 1
2 ==> 4
3 ==> 9
4 ==> 16
5 ==> 25
6 ==> 36
7 ==> 49
8 ==> 64
9 ==> 81
10 ==> 100
11 ==> 121
12 ==> 144
13 ==> 169
14 ==> 196
15 ==> 225
16 ==> 256
17 ==> 289
18 ==> 324
19 ==> 361
20 ==> 400

To print key only
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20
To print values only
1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400

Python program to convert 2 digit number   into words

In [3]:
d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\
   10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\
   17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\
   60:'sixty',70:'seventy',80:'eighty',90:'ninty'}

num=int(input("Enter the integer between 1 to 99:"))
if (num<=20):
      print(d[num])
if(num>20 and num<100):
        if num%10==0:       
            print(d[num])
        else:
            print(d[num//10*10]+" "+d[num%10])

Enter the integer between 1 to 99:55
fifty five

How to sort a dictionary by values in Python

In [4]:
d = {"Pierre": 42, "Anne": 33, "Zoe": 24}
#Use the sorted function and operator module
import operator
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print(sorted_d)
sorted_a= sorted(d.items(), key=operator.itemgetter(1),reverse=True)
print(sorted_a)

[('Zoe', 24), ('Anne', 33), ('Pierre', 42)]
[('Pierre', 42), ('Anne', 33), ('Zoe', 24)]